.article {
  &-container {
    @extend .container;
    padding: 0 24px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 616px;
    color: $text;
    margin-bottom: 80px;
    transition: all 0.3s ease;

    @media screen and (max-width: $tablet) {
      display: flex;
      flex-direction: column;
    }
  }

  &-image {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;

    @media screen and (max-width: $tablet) {
      height: 616px;
    }

    @media screen and (max-width: $mobile) {
      height: 400px;
    }

    @media screen and (max-width: $small-mobile) {
      height: 300px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-text {
    background-color: $backgroundColor;
    padding: 194px 110px 0 117px;
    box-sizing: border-box;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    transition: all 0.3s ease;

    @media screen and (max-width: $large) {
      padding: 164px 70px 0 77px;
    }

    @media screen and (max-width: $tablet) {
      padding: 124px 70px 124px 77px;
      border-top-right-radius: unset;
      border-bottom-right-radius: 28px;
      border-bottom-left-radius: 28px;
    }

    @media screen and (max-width: $mobile) {
      padding: 60px 30px;
    }

    @media screen and (max-width: $small-mobile) {
      padding: 30px;
    }

    &__transparent {
      background-color: transparent;
    }
  }

  &-title {
    font-family: var(--roboto-font);
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.5px;
    margin-bottom: 26px;

    &__19 {
      margin-bottom: 19px;
    }

    @media screen and (max-width: $mobile) {
      font-size: 28px;
      line-height: 32px;
    }
  }

  &-description {
    font-family: var(--roboto-font);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;

    &__22 {
      margin-bottom: 22px;
    }
  }

  &-link {
    @extend .link;
    font-family: var(--roboto-font);
    font-size: 16px;
    line-height: 24px;
  }

  &-button {
    max-width: 128px;
  }
}
