$text: #3c4043;
$blue: #1967d2;
$backgroundColor: #f8f9fa;
$beige: #e9e3db;
$black: #000000;
$white: #fff;

$light-gray: #f2f2f2;
$light-brown: #f3f2f1;
$blue-blue: #e7ebee;
$green-blue: #d6e2db;
$light-orange: #efddcd;

$border-radius-button: 4px;
$border-radius-20: 20px;
$border-radius-28: 28px;

$cardHeight: 254px;
$cardWidth: 183px;

$large: 1280px;
$tablet: 821px;
$mobile: 577px;
$small-mobile: 321px;
